extends layout

block content
  h1 Forgot Password

  form(action="/forgot_password" method="POST")
    if message
      .alert.alert-danger(role="alert")= message
    div.form-group
      label(for='email') Email:
      input#email.form-control(type='email', placeholder='name@email.com' name='email')
    button.btn.btn-primary(type='submit', style="margin-bottom: 0.5rem;") Submit 
  
  a(href = "/register") Don't have an account? Sign up here!