extends layout

block content
  h1 My Graphs
  p Here you can view and edit your different visualisations! Amazing!
  ul.list-group
    li.list-group-item Character Co-occurence
    li.list-group-item Character Appearance over Time
    li.list-group-item Wordcount/Screentime over Time
    li.list-group-item Pacing