extends layout

block content
  h1 My Stories
  p Here you can view and edit the data files you use to generate the graphs. :)
  if `${created || ""}`
    .alert.alert-success(role="alert") New story created!
  a.btn.btn-primary(href="/new_story", role="button", style="margin-bottom: 0.5rem") New Story
  ul.list-group
    li.list-group-item Star Wars: The Last Jedi
    li.list-group-item The Entire Lord of the Rings
    li.list-group-item Joker
    li.list-group-item Endgame but in reverse
    li.list-group-item Wuthering Heights


  script(src='/js/stories.js')